@model MVCApplication.ViewModels.ResultViewModel

@{
    ViewData["Title"] = "Result";
}

<h2>Result</h2>

@if(Model.quant > 0) { 

<h4>For @Model.quant  strings of @Model.leng  characters in length:</h4>

@foreach(var element in Model.RandomKeys)

{
    <p>@Html.DisplayFor(m => element)</p>


}

}

<br />

@ViewBag.error

